$main-bg:#1f1f1f;
$text-box-bg: #3d3d3d;
$text-color: #fff;
$btnColor: #8753db;

body{
    background-color: $main-bg;
    color: $text-color;
}
form{
    background-color: $main-bg;

    .form-control, .form-control[readonly], .form-control:disabled{
        resize: none;
        color: $text-color;
        background-color: $text-box-bg;
        border-color: $text-color;
    }
    .form-control:focus{
        color: $text-color;
        border-color: $btnColor;
        background-color: $text-box-bg;
    }
    label{
        font-size: 22pt;
    }
    #encrypt:hover {
        background-color: $btnColor;
        border-color: $btnColor;
    }
    #encrypt:left{
        border-color: $text-color; 
    }
}